/* Default styles */
.banner{
    position:relative;
    height:900px;
    object-fit:contain;
    color:white;
}

.banner__info{
    margin-left:70px;
    padding-top:300px ;
    height:190px;
}

.banner__title{
    font-size:5rem;
    font-weight:800;
    padding-bottom:0.3rem;
}

.banner__button{
    cursor:pointer;
    color:white;
    border:1px solid white;
    padding:1rem 2rem;
    border-radius:0.2vw;
    max-width:130px;
    font-weight:700;
    margin-right:1rem;
    background-color:rgba(51,51,51,0.5);
}

.banner__button:hover{
    color:black;
    background-color:white;
    transition:all 0.2s ease-in-out;
}

.banner__description{
    width:45rem;
    line-height:1.3;
    font-size:2rem;
    padding-top:1rem;
    color:gray;
    /* max-width:360px; */
    height:80px;
}

.banner--fadeBottom{
    /* position:absolute; */
    height: 25.6rem;

    /* z-index:-1; */
    background-image:linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
}

/* .banner__fadeTop{
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index:-1;
    background-image:linear-gradient(180deg,#111,transparent);
} */

/* Media query for smallest mobile devices (up to 320px) */
